.img1 {
	width: 100vw;
	height: 100vh;
}
.div1 {
	background-position: center;
	background-size: cover;
	position: relative;
	overflow-x: hidden;
}
.img2 {
	height: 200px;
	width: 500%;
}
.div2{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translateX(-3400px);
	}
}
.car{
	width: 100%;
	animation: car 1s infinite;
}
@keyframes car {
	100% {
		transform: translateY(-2px);
	}
	50%{
		transform: translateY(2px);
	}
	0%{
		transform: translateY(-2px);
	}
}
.div3 {
	width: 400px;
	left: 50%;
	bottom: 100px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}
.div4{
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.div4 img {
	width: 72px;
	height: 72px;
	animation: wheel 1s linear infinite
}
.backwheel{
	left: -165px;
	position: absolute;
}
.frontwheel{
	left: 80px;
	position: absolute;
}
@keyframes wheel {
	100%{transform: rotate(360deg);}
}